* {
  margin: 0;
}

@font-face {
  font-family: "BNCringe";
  src: url(../public/BNCringeScript.otf);
}

body {
  height: fit-content;
}

#root {
  /* height: 100dvh; */
  overflow: hidden;
}
#soccer {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
}

#play-button {
  position: fixed;
  bottom: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#title {
  color: #eb5160;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "BNCringe";
  font-size: 5rem;
}
